@keyframes cart-icon_shadow-pulse__124qv {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 0 0 red;
  }
  to {
    box-shadow: 0 0 0 0.5rem transparent;
  }
}
.navDesktop-details {
  width: 100vw;
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
  font-size: 20px;
  z-index: 3;
  position: absolute;
  top: 120px;
  left: 0;
  background-color: white;
  max-height: max-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navDesktop-details .menuRowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  transition: height 500ms ease-in-out;
  background-color: white;
  max-width: 1100px;
  padding: 0 50px;
}
.navDesktop-details .menuRowContainer .menuRow {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  flex: 1;
  transition: height 500ms ease-in-out;
}
.navDesktop-details .menuRowContainer .menuRow .title {
  font-size: 16px;
  font-weight: bold;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .contentColumn {
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 20px;
  font-size: 15px;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .clothes, .navDesktop-details .menuRowContainer .menuRow .menuRow-main .accessories {
  text-align: left;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .clothes .clothes-main, .navDesktop-details .menuRowContainer .menuRow .menuRow-main .accessories .clothes-main {
  display: flex;
  flex-direction: row;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .post {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .post img {
  width: 400px;
  height: 250px;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .post .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: inherit;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .post .content h1 {
  font-size: 18px;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .post .content h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}
.navDesktop-details .menuRowContainer .menuRow .menuRow-main .post .content .title {
  font-size: 16px;
  font-weight: normal;
}
.navDesktop-details .menuRowContainer .menuRow .menuRowBottomContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  align-items: center;
}
.navDesktop-details .menuRowContainer .menuRow .menuRowBottomContainer .title {
  font-size: 16px;
  font-weight: bold;
}
.navDesktop-details .menuRowContainer .menuRow .menuRowBottomContainer .shop {
  font-size: 16px;
  font-weight: bold;
}
.navDesktop-details .menuRowContainer .community {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  width: 130px;
  text-align: left;
  padding-right: 20px;
  font-size: 15px;
}
.navDesktop-details .menuRowContainer .community_list {
  padding-right: 50px;
}

/*# sourceMappingURL=NavDesktopDetail.css.map */
